<h1>Contact by</h1>
<p>email: <%= @contact.email %></p>
<p>phone number: <%= @contact.phone_number %></p>
<p>address: <%= @contact.address %></p>

<%= link_to 'Edit Contact info', edit_person_contact_path %>
